.card {
  overflow: hidden;
  position: relative;
  padding: 2rem;
  border: 0.1rem solid $border-color;
  &:hover {
    .card__image-overlay {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      transform: translateX(0px);
    }
  }
  @include respond(desktop) {
    box-shadow: 0px 0px 20px 0px rgba(95, 91, 91, 0.1);
    &:hover {
      .card__image-overlay {
        display: block;
      }
    }
  }

  &__flag {
    z-index: 10;
    @include position(absolute, 1.5rem, null, null, 1.5rem);
    .flag {
      min-width: 1rem;
      height: 2rem;
      z-index: 100;

      border-radius: 0.2rem;
      padding: 0.4rem;
      @include flex(center, center, column);
      @include text(1.2rem, 500, $color-white);
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
      &--discount {
        background-color: $label-sale-color;
      }
      &--out-stock {
        background-color: $color-gray;
      }
    }
  }
  &__image {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: block;
    z-index: 0;
    background-color: $color-white;
    // height and width are set to 1:1 ratio
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 1.6rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image-overlay {
    overflow: hidden;
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300px);
    @include position(absolute, 0, 0, 0, 0);
    transition: all 0.3s linear;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    .body {
      width: 3.5rem;
      margin: 1.5rem 1.5rem auto auto;
      button {
        margin: 0.8rem;
      }
      .btn--open-eye {
        display: none;
        @include respond(desktop) {
          display: flex;
        }
      }
    }

    @include respond(large-desktop) {
      display: block;
    }
    @include respond(desktop) {
      display: block;
    }
  }
  &__title {
    letter-spacing: 0.5px;
    height: 3.2rem;
    overflow: hidden;
    width: 100%;
    @include text(1.4rem, 600, $text-link-color, 1.6rem);
    margin-bottom: 0.8rem;
    text-transform: capitalize;
  }
  &__stars {
    margin-bottom: 0.8rem;
    .star {
      @include text(1.4rem, 500, $star-color);
    }
  }
  &__action {
    padding: 0;
    @include flex(space-between, flex-start, column);
    .card__stock {
      font-size: 1.4rem;
      color: #222;
      display: inline-block;
      .detail {
        color: #00badb;
      }
    }
    .card__price {
      margin-bottom: 0.8rem;
      @include respond(desktop) {
        margin-bottom: 1.2rem;
      }

      &--current {
        margin-right: 0.8rem;
        @include text(1.6rem, 500, $text-primary);
        &.discount {
          color: $label-hot-color;
        }
      }
      &--old {
        @include text(1.4rem, 500, $text-old-price);
      }
    }
  }

  button {
    margin-bottom: 0.8rem;
  }

  .btn--view {
    display: block;
    @include respond(desktop) {
      display: none;
    }
  }
}
