.select-box__wrapper {
  .select-box {
    cursor: pointer;
    min-width: 18rem;
    width: fit-content;
    max-width: 100%;
    position: relative;
    @include flex(space-between, center);
    border: 1px solid $border-color;
    padding: 0 2rem;
    padding-right: 1.5rem;
    &.mw {
      width: 100%;
    }
    &.md {
      height: 4rem;
    }
    &.sm {
      height: 3rem;
      padding: 0 1.5rem;
      .list__items {
        padding: 0 1.5rem;
      }
    }
    &.lg {
      height: 5rem;
    }

    &__content {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 90%;
      height: 2em;
      margin-top: 1rem;
      margin-right: 0.8rem;
      white-space: nowrap;
      text-align: left;
      @include text(1.4rem, 400, $text-primary);
    }
    & svg {
      font-weight: 400;
      transition: all 0.2s linear;
    }

    &.open {
      .select-box__overlay {
        display: block;
      }
      .select-box__list {
        visibility: visible;
        opacity: 1;
      }
      & svg {
        transform: rotate(180deg);
      }
    }
    &__overlay {
      display: none;
      @include position(fixed, 0, 0, 0, 0);
      @include box(100%, 100%);
      background-color: transparent;
    }
    &__list {
      transition: all 0.3s linear;
      visibility: hidden;
      width: 100%;
      height: 20rem;
      overflow-y: auto;
      overflow-y: auto;
      opacity: 0;
      z-index: 3;
      background-color: $color-white;
      @include position(absolute, 100%, 0, 0, 0);
      background-color: $color-white;
      border: 1px solid $border-color;
      .list__items {
        cursor: pointer;
        padding: 0 2rem;
        padding-right: 1.5rem;
        margin-top: 0.8rem;

        @include text(1.4rem, 400, $text-primary);
        height: 4rem;
        line-height: 4rem;
        &:hover {
          background-color: $text-primary-hover;
        }
      }
    }
  }
}

.select-box__error {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  @include text(1.2rem, 400, $text-error);
}
