//colors
$color-white: #ffffff;
$color-black: #222222;
$color-gray: #878c8e;
$color-breadcrumb-gray: #999;

// background
$process-bar-bg: #e6ecf0;
$navbar-mobile-bg: #0a2748;
$badges-bg: #fcbe00;
$slide-heading-border-bg: #fcbe00;
//others
$text-primary: #222222;
$text-secondary: #4f4f4f;
$text-old-price: #a4a4a4;
$text-tabs: #878c8e;
$text-link-color: #0068c9;
$text-link-color-hover: #0068c9;
$text-other-links-color: #878c8e;
$text-color-hover: #fcbe00;
$text-color-active: #fcbe00;
$star-color: #ffa200;
$text-error: #cc1414;

//button
$button-quaternary-bg: #263c97;
$button-primary-bg: #fcbe00;
$button-primary-bg-hover: #fcb200;
$button-bg-white: #fff;
$button-tertiary-bg-hover: #f6f6f6;
$button-quinary-bg: #222;
$button-text-white: #ffffff;
$button-text-primary: #222222;
$button-text-outlined: #888;
$button-icon-text: #666;

$text-primary-hover: #fcbe00;
$text-primary-active: #fcbe00;

//header
$header-bg: #263c97;
$header-border: rgba(255, 255, 255, 0.15);
//footer
$footer-top-bg: #2f3037;
$footer-bottom-bg: #1f2024;

//label
$label-hot-color: #cc1414;
$label-sale-color: #5aab19;
$label-new-color: #5aab19;
//font
$rubik-font: 'Rubik', sans-serif;
//border

$border-color: #e6ecf0;

// accordion
$text-heading: #4f4f4f;
$text-panel: #666666;

// loading
$loading-circle: rgb(226, 226, 226);
$loading-background: #fff;
//dimensions
$width-full: 100%;
$max-width: 140.5rem;

//footer
$text-footer: #999999;

//border
$border-color: #e5e5e5;
$cart-info-bg: #f6f6f6;